*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.top_header{
    height: 32px;
    width: 100%;
    background-color:white;
    position: fixed;
}
.top_header img{
    display: flex;
    float: left;
    height: 32px;
    position: sticky;
}

.navbar{
    margin-top: 32px;
    display:flex ;
    height: 64px;
    width: 100%;
    background-color: #010353;
    position: fixed;
}

.section_header{
    overflow:hidden;
    
}




.section_header img{
    display: flex;
    width: 100%;
    margin-top: 96px;
    
    
}

section{
    height: 900px;
    background-color: #010358;
}

.iniciosesion{
    margin-left: 90%;
    margin-top: 7px;
}